html, body {
    height: 100%;
}

body .container-fluid {
    margin: 0 auto;
    background-image: url("/static/battle/images/battle_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
}

.enemy-box {
    height: 70%;
}

.my-box {
    height: 30%;
}

.enemy-info, .my-info, img {
    display: inline-block;
    vertical-align: top;
}

.enemy-info, .my-info {
    background-color: #fbfbfb;
    width: 15%;
    border-radius: 15px;
    border: 2px solid black;
}

.health, .healthbar {
    float: left;
}

.enemy-info {
    margin: 15% 0 0 52%;
}

.front-sprite {
    width: 10%;
    margin: 18% 0 0 3%;
}

.back-sprite {
    width: 15%;
    margin-left: 14%;
}

p, .enemy-healthbar, .my-healthbar {
    margin: 0;
    vertical-align: top;
}

.hp, .enemy-hp-container, .my-hp-container {
    display: inline-block;
}

.enemy-hp-container, .my-hp-container {
    height: 1em;
    width: 87%;
}

.enemy-healthpoints, .my-healthpoints {
    background-color: #3e9b20;
    width: 100%;
    height: 1em;
}

.health {
    float: right;
    margin-right: 5%;
}

.menu {
    outline: 1px solid black;
    height: 20%;
}

.display, .options {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.display {
    width: 55%;
    outline: 1px solid black;
}

h3 {
    margin: 2%;
}

.options {
    width: 44%;
}

.options .row {
    text-align: center;
    margin: 0;
    height: 50%;
    padding-top: 2%;
}

.row button {
    color: black;
    font-size: 25pt;
    border: none;
}

.display .row {
    margin: 0;
    height: 50%;
}

.display .col {
    outline: 1px solid black;
    text-align: center;
}
