html, body {
    height: 100%;
}

body .container-fluid {
    margin: 0 auto;
    background-image: url("/static/battle/images/battle_background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
}

.enemy-box, .my-box {
    outline: 1px solid red;
}

.enemy-info, .my-info, img {
    display: inline-block;
    vertical-align: top;
}

.enemy-info, .my-info {
    background-color: #fbfbfb;
    width: 15%;
    border-radius: 15px;
    border: 2px solid black;
}

.health, .healthbar {
    float: left;
}

.front-sprite {
    width: 15%;
    margin: 13% 0 0 1%;
}

.back-sprite {
    width: 15%;
    margin-left: 14%;
}

p, .enemy-healthbar, .my-healthbar {
    margin: 0;
    vertical-align: top;
}

.hp, .enemy-hp-container, .my-hp-container {
    display: inline-block;
}

.enemy-hp-container, .my-hp-container {
    /* background-color: #3e9b20; */
    outline: 1px solid blue;
    width: 92%;
}
