body * {
    margin: 0;
    padding: 0;
}


#wrapper {
    background-image: linear-gradient(to left, rgb(180, 180, 180), rgb(94, 92, 92));
}


.party-wrapper > h3 {
    text-align: center;
    padding: .5em;
    color: white;
    font-weight: bold;
}

#player-party {
    border: 3px solid rgb(47, 47, 48);
    border-radius: .5em;
    width: 50%;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #194787;
    box-shadow: 10px 10px 1px #11315e;
}

.pokemon-wrapper.row {
    border: 3px solid rgb(47, 47, 48);
}

.row {
    margin: 0;
    text-align: center;
}

.name, .pokemon-img { display: inline-block; }

.name { 
    margin: auto 0;
    font-weight: bold;
}

form.remove-pokemon {
    margin: auto;
    padding: 0;
}

.remove-pokemon button {
    font-size: 10pt;
    padding: 0;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%;
}

.remove-pokemon button:hover {
    background-color: rgb(250, 41, 41);
    border-color:black;
}

.remove-pokemon button i {
    border-radius: 50%;
    padding: 5px;
}


#player-party .pokemon-wrapper {
    border-radius: .5em;
    background-color: #ffefef;
    margin: .5em 0;
}

.pokemon-img {
    padding: 0;
    margin: 0;
}

.pokemon-img { display:inline-block; }

.pokemon-img > img{
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
}

.trainer-card {
    vertical-align: top;
    display: inline-block;
}


div.pokedex-wrapper {
    /* margin: 2em 0; */
    width: 90%;
    padding: 1em 1em 5em 1em;
    border: 3px solid rgb(47, 47, 48);
    border-radius: .5em;
    background-color: #194787;
    box-shadow: 10px 10px 1px #11315e;
}

div.pokedex-wrapper > h4 {
    font-weight: bold;
    color: white;
    font-size: 22pt;
    text-align: center;
}

#pokedex {
    margin: 1em auto;
    padding: .5em;
    height: 390px;
    width: 90%;
    border: 3px solid rgb(47, 47, 48);
    overflow-y: auto;
    background-color: whitesmoke;
    border-radius: .5em;    
}

.sprite { display: inline-block; }

.sprite > button > img {
    border: none;
    margin-top: .5em;
    margin-left: .5em;
    cursor: pointer;
    vertical-align: top;
}

form > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#pokemon-view {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 3px solid rgb(47, 47, 48);
    border-radius: .5em;
    padding: 0;
    background-color: #ffefef;
}


#pokemon-view div.top {
    height: 50%;
}

p.description {
    font-size: 11pt;
    text-align: left;
    margin: .75em;
}

#pokemon-view .img-wrapper {
    padding: 0;
    border-right: 3px solid rgb(47, 47, 48);
}

div.top .poke-info p {
    text-align: left;
    font-size: 10pt;
    margin: 0;
}


div.bottom {
    border-top: 3px solid rgb(47, 47, 48);
}

div.add {
    text-align: center;
}

form#add-pokemon {
    margin: 2em;
    width: 35px;
    height: 35px;
} 


#add-pokemon button {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    color: black;
    border-radius: 50%;
    font-size: 16pt;
    font-weight: bold;
}


#add-pokemon button:hover {
    background-color: rgb(29, 238, 29);
    border: 2px solid black;
    color: white;
}

.img-wrapper img {
    width: 96px;
    height: 96px;
}