body .container {
    margin: 20px auto;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 1em;
}

.starters, .select {
    text-align: center;
    margin-top: 5em;
}

.pokeballs {
    width: 25%;
    margin: 0 2em;
}

.select button {
    margin: 1em;
    width: 10%;
    height: 3em;
}

a {
    color: white;
}