body .container {
    margin: 2em auto;
    /* background-image: url("/static/dashboard/images/gameboy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px; */
    text-align: center;
}

.header {
    text-align: right;
}

button a {
    color: white;
}