#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: rgb(24, 46, 133);
    transition: all 0.3s;
    color: white;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #071349;
    text-align: center;
}

.sidebar-header > h4 {
    font-weight: bold;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
    color: white;
}


#sidebar ul li { text-align: center; }

a { color: white; }

#sidebar ul li a, {
    font-size: 1em;
    display: block;
    color: white;
}

#sidebar ul li {
    padding: 1em;
}

#sidebar ul li:hover {
    background-color: rgb(109, 109, 138);
}

#sidebar ul li a:hover {
    color: white;
}

#content {
    width: 100%;
}

i.fa-bars {
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 0em .25em .25em 0em;
}

i.fa-bars:hover {
    color: white;
    background-color: gray;
}

/* -----------------media queries--------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}