body * {
    /* outline: 1px solid pink; */
    margin: 0;
    padding: 0;
}

#wrapper {
    background-image: linear-gradient(to left, rgb(246, 91, 91), rgb(156, 0, 0))
}

.col-6, .col-5 {
    text-align: center;

}

.trainer-card {
    height: 42%;
    width: 655px;
    border: 3px dotted black;
    border-radius: .5em;
    background-color: whitesmoke;
    /* background-color: rgb(43, 27, 27); */
    /* margin-top: 2em; */
}

.trainer-card > h3 {
    padding: .25em;
    margin: .25em .5em;
    text-align: left;
}

.trainer-sprite {
    padding: 0;
}

img.trainer-sprite, img.other-trainer-sprite {
    width: 100px;
    margin: .5em;
    padding: .7em;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: top;
}

img.trainer-sprite:hover {
    border: 3px solid rgb(133, 96, 255);
}

.trainer-info {
    display: inline-block;
    margin: .5em;
    text-align: left;
}

.sprites-wrapper {
    overflow-y: auto;
    width: 100%;
    height: 90%;
}

.player-party, .edit-sprites {
    width: 93%;
    height: 30%;
    margin: 1.5em;
    border: 3px dotted rgb(87, 82, 82);
    border-radius: .5em;
}


#save-sprite {
    display: block;
    height: 30px;
    font-size:10pt;
    margin-top: 1em;

}

img.character-sprite {
    width: 80px;
    height: 80px;
    margin: .5em .35em;
    padding: .25em;
}

.pokemon-img {
    display:inline-block;
}

.pokemon-img > img{
    width: 90px;
    height: 90px;
    /* margin: .5em .2em; */
}

.trainer-card {
    vertical-align: top;
    display: inline-block;
}


div.pokedex-wrapper {
    /* margin: 2em 0; */
    width: 800px;
    padding: 1em;
    border: 3px solid #3B4CCA;
    border-radius: .5em;
    background-color: #FF0000;
}

div.pokedex-wrapper > h4 {
    font-weight: bold;
    color: white;
    font-size: 22pt;
}

.filter {
    width: 90%;
    padding: 1em;
    margin: 1em auto;
    border: 3px solid #3B4CCA;
    border-radius: .5em;
}

#pokedex {
    margin: 2em auto;
    padding: .5em;
    height: 600px;
    width: 90%;
    border: 3px solid #3B4CCA;
    overflow-y: auto;
    background-color: whitesmoke;
    border-radius: .5em;
}

.sprite {
    display: inline-block;
}

.sprite > button > img {
    border: none;
    margin-top: .5em;
    margin-left: .5em;
    cursor: pointer;
    -webkit-filter: brightness(0);
    filter: brightness(0);
    vertical-align: top;
}

.found > button > img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

form > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

#pokemon-view {
    width: 500px;
    height: 30%;
    margin: 2em auto;
    border: 3px dotted black;
    border-radius: .5em;
    padding: 0;
    background-color: whitesmoke;
}

#pokemon-view div.top {
    height: 50%;
}


.row {
    margin: 0;
}

/* div.img-wrapper {
    margin: 0;
    padding: 0;
} */

 /* pokemon info card  style */

.poke-info {
    /* padding: 2em 0 0 .5em; */
    width: 100%;
    margin: auto 0;
}

.img-wrapper {
    border-right: 3px dotted black;
    padding: .5em;
}

div.top .poke-info p {
    text-align: left;
    font-size: 11pt;
}

div.bottom {
    border-top: 3px dotted black;
}

form {
    margin: 0;
    padding: 0;
    display: inline;    
}

p.description {
    font-size: 11pt;
    text-align: left;
    margin: .75em;
}