body * {
    outline: 1px solid pink;
    margin: 0;
    padding: 0;
}

.col-6 {
    text-align: center;

}

.trainer-card {
    height: 43%;
    width: 650px;
    border: 1px solid black;
    border-radius: .5em;
    background-color: whitesmoke;
    /* margin-top: 2em; */
}

.trainer-card > h3 {
    padding: .25em;
    margin-left: .25em;
}

.trainer-sprite {
    padding: 0;
}

img.trainer-sprite, img.other-trainer-sprite {
    width: 100px;
    margin: .5em;
    padding: .7em;
    border: 1px solid black;
    border-radius: 50%;
    vertical-align: top;
}

img.trainer-sprite:hover {
    border: 1px solid lightblue;
}

.trainer-info {
    display: inline-block;
    margin: .5em;
}

.edit-sprites {
    width: 90%;
    height: 35%;
    margin: .5em 1em;
    border: 1px solid rgb(87, 82, 82);
    border-radius: .5em;
}

.sprites-wrapper {
    overflow-y: auto;
    width: 100%;
    height: 90%;
}

.player-party {
    width: 90%;
    height: 35%;
    margin: .5em 1em;
    border: 1px solid rgb(87, 82, 82);
    border-radius: .5em;
}

#save-sprite {
    display: block;
    height: 30px;
    font-size:10pt;
    margin-top: 1em;

}

img.character-sprite {
    width: 80px;
    height: 80px;
    margin: .5em .35em;
    padding: .25em;
}

.pokemon-img > img{
    width: 90px;
    height: 90px;
    margin: .5em .2em;
}

.trainer-card, .pokedex-wrapper {
    vertical-align: top;
    display: inline-block;
}


div.pokedex-wrapper {
    /* margin: 2em 0; */
    width: 800px;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
}

.filter {
    width: 90%;
    padding: 1em;
    margin: 1em auto;
    border: 1px solid black;
}

#pokedex {
    margin: 0 auto;
    /* padding: .5em; */
    height: 600px;
    width: 90%;
    border: 1px solid black;
    overflow-y: auto;
}

.sprite {
    display: inline-block;
}

.sprite > button > img {
    border: none;
    margin-top: .5em;
    margin-left: .5em;
    cursor: pointer;
    -webkit-filter: brightness(0);
    filter: brightness(0);
    vertical-align: top;
}

.found > button > img {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

form > button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

#pokemon-view {
    width: 500px;
    height: 32%;
    margin: 2em auto;
    border: 1px solid black;
    border-radius: .5em;
    padding: 0;
}

#pokedex-view div.top {
    height: 45%;
}


.row {
    margin: 0;
}

/* div.img-wrapper {
    margin: 0;
    padding: 0;
} */

.poke-info {
    padding: .5em 0 0 .5em;
    height: 100%;
}

.img-wrapper {
    border-right: 1px solid black;

    padding: .5em;
}

div.top .poke-info p {
    text-align: left;
    font-size: 11pt;
}

div.bottom {
    border-top: 1px solid black;
}

form {
    margin: 0;
    padding: 0;
    display: inline;    
}
