<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wild Encounter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'battle/css/wild_encounter.css' %}">
    <script src="{% static 'battle/js/wild_encounter.js' %}"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="enemy-box">
            <div class="enemy-info">
                <p>{{ wild_pokemon.name|upper }}</p>
                <div class="enemy-healthbar">
                    <p class="hp">HP</p>
                    <div class="enemy-hp-container">
                        <div class="enemy-healthpoints"></div>
                    </div>
                </div>
                <p class="health">
                    <span id="enemy-current-hp">{{ wild_pokemon.health }}</span>/{{ wild_pokemon.health }}
                </p>
            </div>
            <img src="{{ wild_pokemon.front_sprite }}" class="front-sprite">
        </div>
        <div class="my-box">
            <img src="{{ first_pokemon.back_sprite }}" class="back-sprite">
            <div class="my-info">
                <p>{{ first_pokemon.name|upper }}</p>
                <div class="my-healthbar">
                    <p class="hp">HP</p>
                    <div class="my-hp-container">
                        <div class="my-healthpoints"></div>
                    </div>
                </div>
                <p class="health">
                    <span id="my-current-hp">{{ first_pokemon.health }}</span>/{{ first_pokemon.health }}
                </p>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="display">
            <h3 class="textbox">What will {{ first_pokemon.name|upper }} do?</h3>
        </div>
        <div class="options">
            <div class="row">
                <div class="col">
                    <form action="/battle/moves" method="post" id="moves_form">
                        {% csrf_token %}
                        <input type="hidden" name = "pokemon" value="{{ first_pokemon.name }}">
                        <button type="submit" id="fight">Fight</button>
                    </form>
                </div>
                <div class="col">
                    <button id="party">Pokémon</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="run">Run Away</button>
                </div>
            </div>
        </div>
</body>

</html>