<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wild Encounter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'battle/css/wild_encounter.css' %}">
</head>

<body>
    <div class="container-fluid">
        <h1>Wild Encounter</h1>
        <img src="{{ wild_pokemon.front_sprite }}" class="back-sprite">
    </div>
</body>

</html>