<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wild Encounter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'battle/css/wild_encounter.css' %}">
    <script src="{% static 'battle/js/wild_encounter.js' %}"></script>
</head>

<body>
    <div id="app">
        <h1 class="title">Wild Encounter!</h1>
        <div class="battle-scene">
            <div class="enemy-info">
                <input type="hidden" name="enemy-number" id="enemy-number" value="{{ wild_pokemon.id }}">
                {% for type in wild_types %}
                <input type="hidden" class="enemy-types" value="{{ type.name }}">
                {% endfor %}
                <input type="hidden" id="enemy-speed" name="enemy-speed" value="{{ wild_pokemon.speed }}">
                <div class="enemy-moves">
                    {% for move in wild_moves %}
                    <input type="hidden" name="{{ move.name }}" class="{{ move.moves_type_id }}" value="{{ move.power }}">
                    {% endfor %}
                </div>
                <h2 class="pokemon" id="enemy-name">{{ wild_pokemon.name|upper }}</h2>
                <div class="enemy-hp-container">
                    <div class="enemy-healthpoints"></div>
                </div>
                <h4 class="hp">
                    <span id="enemy-current-hp">{{ wild_pokemon.health }}</span>
                    / <span id="enemy-start-hp">{{ wild_pokemon.health }}</span>
                </h4>
            </div>
            <div class="box-top-right">
                <img src="{{ wild_pokemon.front_sprite }}" class="front-sprite pokemon-top" />
            </div>
            <div class="box-bottom-left">
                <img src="{{ my_pokemon.back_sprite }}" class="back-sprite pokemon-bottom" />
            </div>
            <div class="my-info">
                <input type="hidden" name="my-number" id="my-number" value="{{ my_pokemon.id }}">
                <input type="hidden" name="order-number" id="order-number" value="{{ order_number }}">
                <div id="current-types">
                    {% for type in my_types %}
                    <input type="hidden" class="my-types" value="{{ type.name }}">
                    {% endfor %}
                </div>
                <input type="hidden" id="my-speed" name="my-speed" value="{{ my_pokemon.speed }}">
                <h2 class="pokemon" id="my-name">{{my_pokemon.name|upper}}</h2>
                <div class="my-hp-container">
                    <div class="my-healthpoints"></div>
                </div>
                <h4 class="hp">
                    <span id="my-current-hp">{{ my_pokemon.health }}</span>
                    / <span id="my-start-hp">{{ my_pokemon.health }}</span>
                </h4>
            </div>
            <div class="bottom-menu">
                <div class="battle-text display">
                    <h3 class="textbox">What will {{ my_pokemon.name|upper }} do?</h3>
                </div>
                <div class="options">
                    <div class="row">
                        <div class="col">
                            <form action="/battle/moves" method="post" id="moves_form">
                                {% csrf_token %}
                                <input type="hidden" name="pokemon" id="pokemon" value="{{ my_pokemon.name }}">
                                <button type="submit" id="fight">Fight</button>
                            </form>
                        </div>
                        <div class="col">
                            <button id="party">Pokémon</button>
                        </div>
                    </div>
                    <div class="row">
                        <button id="run"><a href="/dashboard">Run Away</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>