<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/edit_team.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/js/edit_team.js' %}"></script>
    <script src="{% static 'dashboard/js/profile.js' %}"></script>
</head>

<body>
    <div id="wrapper" class="container-fluid">
        <nav class="float-left" id="sidebar">
            <div class="sidebar-header">
                <h4>Pokemon Menu</h4>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <p>{{request.session.first_name}}</p>
                </li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/dashboard/profile/{{request.session.userid}}">Profile</a></li>
                <li><a href="/dashboard/edit_team">edit team</a></li>
                <li><a href="">pokemon</a></li>
                <li><a href="">trade requests</a></li>
                <li><a href="">account settings</a></li>
                <li><a href="/">logout</a></li>
            </ul>
        </nav>
        <div id="content">
            <div><a id="collapse-btn"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
            <div class="container-fluid row">
                <div class="col-6">
                    <div class="party-wrapper">
                        <h3>Your Team</h3>
                        <div id="player-party">
                            {% for sprite in trainers_team %}
                            <div class="pokemon-wrapper">
                                <div class="pokemon-img">
                                    <img src="{{sprite.front_sprite}}">
                                </div>
                                <p class="name">{{sprite.name}}</p>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="pokedex-wrapper col-5 container-fluid">
                    <h4>Your Pokemon</h4>
                    <div id="pokedex">
                        {% for sprite in all_pokemon %}
                        {% if sprite in trainer.trainers_pokemon.all %}
                        <form class="sprite found tier{{sprite.tier}} " action="/dashboard/view_pokemon/{{sprite.id}}"
                            method="post">
                            {% csrf_token %}
                            <button type="submit">
                                <img class="sprite-img" src="{{sprite.front_sprite}}" alt="">
                            </button>
                        </form>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div id="pokemon-view" class="container-fluid">
                        <div class="row top">
                            <div class="col-2.75 img-wrapper">
                                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/146.png"
                                    alt="">
                            </div>
                            <div class="poke-info col-8">
                                <p class="info-name"></p>
                                <p class="type"></p>
                                <p class="health"></p>
                                <p class="speed"></p>
                                <p class="number"></p>
                            </div>
                            <div class="col" id="add"></div>
                        </div>
                        <div class="row bottom">
                            <p class="description"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>