<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/navbar.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/js/index.js' %}"></script>
</head>

<body>
    <div id="wrapper" class="container-fluid">
        <nav class="float-left" id="sidebar">
            <div class="sidebar-header">
                <h4>Pokemon Menu</h4>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <p>Ash Ketchup</p>
                </li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/dashboard/profile/{{request.session.userid}}">Profile</a></li>
                <li><a href="">edit team</a></li>
                <li><a href="">pokemon</a></li>
                <li><a href="">trade requests</a></li>
                <li><a href="">account settings</a></li>
                <li><a href="/">logout</a></li>
            </ul>
        </nav>
        <div id="content">
            <div><a id="collapse-btn"><i class="fa fa-bars" aria-hidden="true"></i></a></div>
            <div class="container-fluid row">
                <div class="party-wrapper col-5">
                    <h4>Team Name Here</h4>
                    <div id="player-party">
                        {% for sprite in your_pokemon %}
                        <div class="pokemon-img">
                            <img src="{{sprite.front_sprite}}">
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div id="players-display" class="col-3">
                    <h4>Trainers!</h4>
                    <div class="all_trainers">
                        {% for trainer in all_trainers %}
                        {% if trainer.id != request.session.userid %}
                        <p><a href="/dashboard/profile/{{trainer.id}}">{{trainer.first_name}} {{trainer.last_name}}</a></p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="btn btn-primary"><a href="/dashboard/encounter">Random Encounter</a></button>
        </div>
    </div>
</body>

</html>