<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'log_reg/css/main.css' %}">
</head>

<body id="body">
    <audio autoplay="true" loop>
        <source src="/static/log_reg/startup.mp3" type="audio/mpeg">
    </audio>
    <div class="container">
        <div class="gameboy-wrapper">
            <div class="screen-wrapper">
                <div class="power">
                    <div class="power-light"></div>
                    <p>power</p>
                </div>
                <div class="screen">
                    <p>DOJO</p>
                </div>
                <div class="logo">GAMEBOY</div>
            </div>
            <div class="game-pad">
                <a class="btn" href="/signin">sign in</a>
                <a class="btn" href="/register">register</a>
            </div>
        </div>
    </div>

</body>

</html>